* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 18px;
  height: auto;
  line-height: 56px;
  padding-left: 16px;
  background-color: #F44336;
}

header div.row{
  color: #fff;
  margin-bottom: 0;
}

div.buscar{
  background-color: #F44336;
}

div.buscar input{
  width: 92%;
  height: 3rem;
  padding: 0.3rem 0.7rem;
  background-color: #fff;
}

.servicio i{
  color: #8c8c8c;
  padding-top: 2.5rem;
}

.servicio h6{
  color: #8c8c8c;
}