* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 18px;
  height: auto;
  line-height: 56px;
  padding-left: 16px;
  background-color: #F44336;
}

header div.row{
  color: #fff;
  margin-bottom: 0;
}

div.buscar{
  position: relative;
  background-color: #F44336;
}

div.buscar input{
  width: 87%;
  height: 3rem;
  padding: 0.3rem 0 0.3rem 3rem;
  background-color: #fff;
}

.lupa{
  position: absolute;
  font-size: 1.7rem;
  top: 12px;
  left: 20px;
  color: #8c8c8c;
}
.data-gas{
  margin-top: 1rem;
}

.servicio{
  border-bottom: 2px solid #8c8c8c;
}
.servicio i{
  color: #8c8c8c;
  padding-top: 2.5rem;
}

.servicio h6{
  color: #8c8c8c;
}

.pad-div{
  padding-left : 3rem;
  padding-right: 1rem;
}

.product{
  display: inline-block;
  padding: 20px;
  margin-right: 1rem;
  background-color: orangered;
}

#map{
    width:100%;
    height: 300px;
}